.wrapper {
    overflow: hidden;
}

.slideTopLoader {
    animation: slide-top-loader 0.5s cubic-bezier(0.895, 0.030, 0.685, 0.220) both; // easeInQuart
}
@keyframes slide-top-loader {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.slideTop1 {
    animation: slide-top 0.8s cubic-bezier( 0.23, 0.94, 0.55, 0.98 ) 3s both;
}
.slideTop2 {
    animation: slide-top 0.8s cubic-bezier( 0.23, 0.94, 0.55, 0.98 ) 3.1s both;
}
.slideTop3 {
    animation: slide-top 0.8s cubic-bezier( 0.23, 0.94, 0.55, 0.98 ) 3.2s both;
}
@keyframes slide-top {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}