.btnContainer {
    display: flex;
    column-gap: 1.3vw;
    align-items: center;

    h3 {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-size: max(1.5vw, 1rem);
    }

    .btn {
        position: relative;
        display: flex;
        cursor: pointer;

        .iconCircle {
            height: max(5vw, 1.7rem);
            transition: all 0.5s ease-in-out;
        }
        
        .iconArrow {
            position: absolute;
            height: max(1rem, 3vw);
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            transition: transform .5s ease-in-out;
        }
        .iconArrow.directionRight {
            transform: rotate(0deg);
        }
        .iconArrow.directionUp {
            transform: rotate(-90deg);
        }
        
        &:hover {
            .iconCircle {
                transform: scale(1.2);
            }

            .iconArrow.directionRight {
                transform: rotate(360deg);
            }
            .iconArrow.directionUp {
                transform: rotate(270deg);
            }
        }
    }
}