.container {
    margin-inline: 10vw;
}

.textContainer {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: end;

    .textWrapper {
        width: 70vw;

        h2 {
            font-size: max(1rem, 3.3vw);
            font-weight: 500;
            display: inline;
            margin-left: 11vw;
            letter-spacing: -0.1vw;

            &::before {
                content: "WHO WE ARE";
                position: relative;
                left: -10vw;
                top: -0.9vw;
                font-size: max(0.8rem, 1.5vw);
                font-weight: 400;
                text-decoration: underline;
            }

            span.textUnderline {
                text-decoration: underline;
            }
        }

        @media(width <=480px) {
            width: 100% !important;
        }
    }
}

.cardsContainer {
    overflow: scroll;
    margin-top: 7vw;
    display: flex;
    gap: max(2vw, 0.6rem);

    .card {
        background-color: #e7d6c4;
        border: max(0.35vw, 2px) solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1vw 3vw;
        font-family: "Bebas Neue", sans-serif;
        text-transform: uppercase;

        .productImg {
            width: max(8rem, 18vw);
        }

        .brandImg {
            width: max(2.5rem, 5vw);
            margin-top: max(7px, 1vw);
        }

        .numberText {
            font-size: max(0.7rem, 1.1vw);
            margin-top: max(5px, 1vw);
        }

        .productTitle {
            font-family: "DM Serif Display", serif;
            font-size: max(1.5rem, 3.3vw);
        }

        .strikePrice {
            font-size: max(0.7rem, 1.2vw);
            margin-top: 0.6vw;
        }

        .price {
            font-size: max(1.1rem, 2vw);
            margin-top: 0.4vw;
        }
    }
}

.reviewsContainer {
    margin-block: 10vw;
    display: flex;
    justify-content: end;

    .review {
        display: flex;
        gap: 5vw;
        width: max(20rem, 45vw);

        .leftTitle {
            align-content: center;

            h3 {
                font-family: "Kaushan Script", cursive;
                text-wrap: nowrap;
                font-size: max(1.1rem, 2.5vw);
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    background-image: url("../images/text_bg.svg");
                    background-repeat: no-repeat;
                    width: max(3.5rem, 8vw);
                    height: max(5rem, 7vw);
                    left: min(-1.5rem, -4vw);
                    top: min(-0.8rem, -1.5vw);
                }
            }
        }

        .rightContent {
            font-family: "Roboto", sans-serif;
            font-size: max(0.7rem, 1.1vw);
        }
    }
}