.textContainer {
    font-family: "Roboto", sans-serif;
    margin-inline: 10vw;

    .textWrapper {
        width: 70vw;
        float: right;

        h2 {
            font-size: max(1rem, 3.3vw);
            font-weight: 500;
            display: inline;
            margin-left: 11vw;
            letter-spacing: -0.1vw;

            &::before {
                content: "WHO WE ARE";
                position: relative;
                left: -10vw;
                top: -0.9vw;
                font-size: max(0.8rem, 1.5vw);
                font-weight: 400;
                text-decoration: underline;
            }

            span.textUnderline {
                text-decoration: underline;
            }
        }
    }
    
}

@media(width <= 480px) {
    .textWrapper {
        width: 100% !important;
    }
}