.footerContainer {
    box-sizing: border-box;
    background-color: #f6f3e8;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    padding: 5vw 4vw;
    display: flex;
    gap: 14vw;
    position: absolute;
    width: 100%;
    z-index: 999;

    .textSmall {
        font-size: max(0.6rem, 1vw);
        text-wrap: nowrap;
    }

    .subscribeItem {
        display: flex;
        flex-direction: column;

        img {
            width: max(1.5rem, 3.8vw);
            margin-top: max(0.6rem, 0.7vw);
        }

        label {
            font-size: max(0.5rem, 0.8vw);
            margin-top: 12vw;
        }

        .inputContainer {
            display: flex;
            margin-top: max(0.7rem, 1vw);
            padding-bottom: 1vw;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                background-color: black;
                height: 1px;
                width: max(9.3rem, 27vw);
                bottom: 0;
            }

            input {
                outline: none;
                border: none;
                background-color: transparent;
                font-size: max(0.7rem, 1.5vw);
                width: max(7rem, 23vw);
            }

            button {
                background-color: transparent;
                color: #000;
                border: none;
                text-transform: uppercase;
                font-size: max(0.6rem, 1vw);
                cursor: pointer;
            }
        }
    }

    .gridItem {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .navigationItem {
            ul {
                list-style-type: none;
                margin-top: 1.2vw;
                font-size: max(0.9rem, 1.9vw);

                li {
                    margin-block: 0.7vw;
                }
            }
        }

        .textItem {
            align-self: end;
        }

        .socialsItem {
            align-self: end;
            display: flex;
            gap: max(0.3rem, 0.6vw);

            .icon {
                width: max(1rem, 1.7vw);
                height: max(1rem, 1.7vw);
            }
        }
    }
}

@media(width <=480px) {
    .footerContainer {
        flex-direction: column;

        .subscribeItem {
            align-items: center;
        }

        .gridItem {
            grid-template-columns: 27vw 35vw auto;
            row-gap: 1rem;
            column-gap: 1.1rem;
        }
    }
}