.footerContainer {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    padding: 5vw 4vw;
    display: flex;
    gap: 14vw;

    .textSmall {
        font-size: 1vw;
    }

    .subscribeItem {
        display: flex;
        flex-direction: column;

        img {
            width: 3.8vw;
            margin-top: 0.7vw;
        }

        label {
            font-size: 0.8vw;
            margin-top: 12vw;
        }

        .inputContainer {
            display: flex;
            padding-block: 1vw;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                background-color: black;
                height: 1px;
                width: 27vw;
                bottom: 0;
            }

            input {
                outline: none;
                border: none;
                background-color: transparent;
                font-size: 1.5vw;
                width: 23vw;
            }

            button {
                background-color: transparent;
                border: none;
                text-transform: uppercase;
                font-size: 1vw;
                cursor: pointer;
            }
        }
    }

    .gridItem {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;

        .navigationItem {
            ul {
                list-style-type: none;
                margin-top: 1.2vw;
                font-size: 1.9vw;

                li {
                    margin-block: 0.7vw;
                }
            }
        }

        .textItem {
            align-self: end;
        }

        .socialsItem {
            align-self: end;
            display: flex;
            gap: 0.6vw;

            .icon {
                width: 1.7vw;
                height: 1.7vw;
            }
        }
    }
}