.loaderContainer {
    background-color: #000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 999999;
    // transition: transform 0.5s ease-out;
    // transform: translateY(0);

    .percentageContainer {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: max(5rem, 15vw);
        overflow: hidden;

        span {
            display: inline-table;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            color: #fff;
            font-family: "Roboto", sans-serif;
            font-size: max(4rem, 15vw);
            letter-spacing: -1.2vw;
            transition: transform 0.5s ease-out;
            transform: translateY(100%);
        }

        span.active {
            transform: translateY(0);
        }

        span.exit {
            transform: translateY(-100%);
        }
    }
}

.loaderContainer.hidden {
    animation: slide-top 0.5s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}

@keyframes slide-top {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.copyrightContainer {
    position: absolute;
    display: inline-table;
    left: 0;
    right: 0;
    bottom: max(4rem, 5vw);
    margin-inline: auto;

    span {
        color: #fff;
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-size: max(0.6rem, 1.2vw);
    }
}